name: Go

on:
  push:
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - uses: actions/checkout@v3

      - name: Create mandatory .env
        run: echo "SECRET=supersecret" > .env

      - name: Start services
        run: make docker.recreate

      - name: Test
        run: go test -v ./...

      - name: Stop services
        run: make docker.stop

  build:
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name != 'pull_request' && contains(fromJSON('["main", "staging"]'), github.ref_name)
    steps: 
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: owlint/maestro

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
